{% include '_templates/header.twig' %}

<br>
<h1 align="center">Classifica delle migliori fotografie</h1>
<br>
<div class="col-md-8 col-sm-12 mx-auto shadow p-3 mb-5 bg-white rounded">
    <table class="table table-striped col-sm-12">
        <thead>
        <tr>
            <th scope="col">Punteggio</th>
            <th scope="col">Luogo</th>
            <th scope="col" class="d-none d-sm-table-cell">Data</th>
            <th scope="col" class="d-none d-sm-table-cell">Visualizzazioni</th>
            <th scope="col">Autore</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% set counter1 = 0 %}
            {% for fotografia in fotografie %}
                <tr {% if highlight %} {% if highlight_id == fotografieWithoutNome[counter1][0].getUtenteId %} class="table-primary" {% endif %} {% endif %}>
                    <td>{{ fotografia[1] }}</td>
                    <td>{{ fotografia[0].luogo }}</td>
                    <td class="d-none d-sm-table-cell">{{ fotografia[0].getDataOra }}</td>
                    <td class="d-none d-sm-table-cell">{{ fotografia[0].visualizzazioni }}</td>
                    <td><a href="{{ URL }}classifica/highlight/{{ fotografieWithoutNome[counter1][0].getUtenteId }}">{{ fotografia[0].getUtenteId }}</a></td>
                    <td><a class="btn btn-primary" href="{{ URL }}fotografie/dettagli/{{ fotografia[0].id }}">Mostra dettagli</a></td>
                </tr>
                {% set counter1 = counter1 + 1 %}
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<br>
<h1 align="center">Classifica delle fotografie più viste</h1>
<br>
<div class="col-md-8 col-sm-12 mx-auto shadow p-3 mb-5 bg-white rounded">
    <table class="table table-striped col-sm-12">
        <thead>
        <tr>
            <th scope="col">Visualizzazioni</th>
            <th scope="col">Luogo</th>
            <th scope="col" class="d-none d-sm-table-cell">Data</th>
            <th scope="col">Autore</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% set counter2 = 0 %}
        {% for fotografia in fotografieVisualizzazioni %}
            <tr {% if highlight %} {% if highlight_id == fotografieVisualizzazioniWithoutNome[counter2].getUtenteId %} class="table-primary" {% endif %} {% endif %}>
                <td>{{ fotografia.visualizzazioni }}</td>
                <td>{{ fotografia.luogo }}</td>
                <td class="d-none d-sm-table-cell">{{ fotografia.getDataOra }}</td>
                <td><a href="{{ URL }}classifica/highlight/{{ fotografieVisualizzazioniWithoutNome[counter2].getUtenteId }}">{{ fotografia.getUtenteId }}</a></td>
                <td><a class="btn btn-primary" href="{{ URL }}fotografie/dettagli/{{ fotografia.id }}">Mostra dettagli</a></td>
            </tr>
            {% set counter2 = counter2 + 1 %}
        {% endfor %}
        </tbody>
    </table>
</div>

{% include '_templates/footer.twig' %}