{% include '_templates/header.twig' %}

<style>
    .fa-solid:hover{
        cursor: pointer;
    }
</style>
<br>
<br>
<div class="container col-12">
    <div class="d-flex align-items-center justify-content-center shadow p-3 mb-5 bg-white rounded">
        <img src="{{ URL }}{{ fotografia.path }}" class="col-12" id="foto" data-id="{{ fotografia.id }}">
    </div>
    <br>
    <div class="row">
        <div class="align-items-center justify-content-center shadow p-3 mb-5 bg-white rounded col-md-6 col-sm-12">
            <h3>Dettagli</h3>
            <br>
            <strong>Autore: </strong><span>{{ fotografia.getUtenteId }}</span>
            <br>
            <strong>Data: </strong><span>{{ fotografia.getDataOra }}</span>
            <br>
            <strong>Luogo: </strong>{{ fotografia.luogo }}
            <br>
            {% if fotografia.soggetto %}
                <strong>Soggetto: </strong>{{ fotografia.soggetto }}
                <br>
            {% endif %}
            <strong>Tipologia: </strong><span>{{ fotografia.tipologia }}</span>
            <br>
            <strong>Visualizzazioni: </strong><span>{{ fotografia.visualizzazioni }}</span>
        </div>
        <div class="align-items-center justify-content-center shadow p-3 mb-5 bg-white rounded float-right col-md-6 col-sm-12">
            <h3>Valutazione</h3>
            <br>
            <strong>Punteggio: </strong>
            {% if score %}
                <span>{{ score }}</span>
            {% else %}
                <span>Non ci sono ancora valutazioni!</span>
            {% endif %}
            <br>
            <br>
            <h4>La tua valutazione</h4>
            {% if session.ruolo %}
                {% if session["utente-id"] != fotografiaId.getUtenteId %}
                    <div class="stars">
                        {% if valutazionePresente %}
                            {% for i in range(1, 5) %}
                                {% if i <= valutazionePresente.stelle %}
                                    <img src="{{ URL }}public/assets/images/star_filled.png" class="star" width="40">
                                {% else %}
                                    <img src="{{ URL }}public/assets/images/star_empty.png" class="star" width="40">
                                {% endif %}
                            {% endfor %}
                            <button class="btn btn-primary" id="updateValutazione">Aggiorna valutazione</button>
                        {% else %}
                            <img src="{{ URL }}public/assets/images/star_empty.png" class="star" width="40">
                            <img src="{{ URL }}public/assets/images/star_empty.png" class="star" width="40">
                            <img src="{{ URL }}public/assets/images/star_empty.png" class="star" width="40">
                            <img src="{{ URL }}public/assets/images/star_empty.png" class="star" width="40">
                            <img src="{{ URL }}public/assets/images/star_empty.png" class="star" width="40">
                            <button class="btn btn-primary" id="addValutazione">Aggiungi valutazione</button>
                        {% endif %}
                        <button class="btn btn-outline-danger" id="resetStarsBtn">X</button>
                    </div>
                {% else %}
                    <p>Non è possibile aggiungere una valutazione alle proprie immagini!</p>
                {% endif %}
            {% else %}
                <p>Devi avere un'account per aggiungere una valutazione!</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="align-items-center justify-content-center shadow p-3 mb-5 bg-white rounded col-md-6 col-sm-12">
            <h3 id="comments">Commenti</h3>
            <br>
            <h4>Aggiungi un commento</h4>
            {% if session.ruolo %}
                <form action="{{ URL }}fotografie/commenta/{{ fotografia.id }}" method="POST">
                    <textarea required name="contenuto" placeholder="Inserisci testo" class="form-control" style="height: 100px" maxlength="500"></textarea>
                    <div id="fileHelp" class="form-text">Max. 500 caratteri</div>
                    <br>
                    <input type="hidden" name="CSRFToken" value="{{ session.CSRFToken }}">
                    <button type="submit" class="btn btn-primary">Commenta</button>
                </form>
                {% if session.showSuccessMsg %}
                    <div class="alert alert-success">
                        {{ session.showSuccessMsg }}
                    </div>
                {% endif %}
            {% else %}
                <p>Devi avere un'account per aggiungere un commento!</p>
            {% endif %}
            <hr>
            {% if commenti %}
                {% set commentiCounter = 0 %}
                {% for commento in commenti %}
                    {% if commento.getUtenteId == session['utente-id'] %}
                        <i data-commentId="{{ commento.id }}" class="fa-solid fa-trash me-2 deleteCommentIcon"></i>
                        <i data-commentId="{{ commento.id }}" class="fa-solid fa-pen-to-square me-2 editCommentIcon"></i>
                    {% endif %}
                    <strong>{{ commentiWithNome[commentiCounter].getUtenteId }}:</strong>
                    <p>{{ commento.contenuto|nl2br }}</p>
                    {% set commentiCounter = commentiCounter + 1 %}
                {% endfor %}
            {% else %}
                <p>Non ci sono ancora commenti!</p>
            {% endif %}
        </div>
        <div class="align-items-center justify-content-center shadow p-3 mb-5 bg-white rounded col-md-6 col-sm-12">
            <h3>Valutazioni degli utenti</h3>
            <br>
            {% if valutazioni %}
                {% for valutazione in valutazioni %}
                    <strong>{{ valutazione.getUtenteId }}:</strong>
                    <br>
                    {% for i in range(1, 5) %}
                        {% if i <= valutazione.stelle %}
                            <img src="{{ URL }}public/assets/images/star_filled.png" width="40">
                        {% else %}
                            <img src="{{ URL }}public/assets/images/star_empty.png" width="40">
                        {% endif %}
                    {% endfor %}
                    <br>
                    <br>
                {% endfor %}
            {% else %}
                <p>Non ci sono ancora valutazioni!</p>
            {% endif %}
            <br>
        </div>
    </div>
</div>
<script src="{{ URL }}public/js/valutazioniManager.js"></script>
<script src="{{ URL }}public/js/commentiManager.js"></script>

{% include '_templates/footer.twig' %}