<html>
    <head>
        <title>Gestione fotografie</title>
        <meta name="author" content="Davide Branchi">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ URL }}vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ URL }}vendor/components/font-awesome/css/all.min.css">
        <script>
            const URL = "{{ URL }}";
        </script>
    </head>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ URL }}home">Gestione Fotografie</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ URL }}home">Home</a>
                    </li>
                    {% if session.ruolo %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active btn btn-primary" id="navProfiloDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white" aria-current="page" href="{{ URL }}login">Profilo</a>
                            <ul class="dropdown-menu" aria-labelledby="navProfiloDropDown">
                                {% if session.ruolo == "fotografo" %}
                                    <li><a class="dropdown-item" href="{{ URL }}upload">Carica fotografia</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ URL }}logout">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active btn btn-primary" style="color: white" aria-current="page" href="{{ URL }}login">Login / Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <body>